extends layout

block content
  #title
    h4 redictionator
  #display-container.container
    #display.card-panel.light-blue.lighten-4.z-depth-1.valign-wrapper
  #input-container.container
    textarea#input-field(name="userinput").light-blue.accent-1.z-depth-1
