extends layout

block content
  #title
    h4 synonymize
  #display-container.container
    #display.card-panel.z-depth-1.light-blue.lighten-5.valign-wrapper
  #input-container.container
    textarea#input-field(name="userinput").light-blue.accent-1.z-depth-1
