extends layout

block content
  #title
    h4 synonymize
  #display-container.container
    #display.card-panel.z-depth-1.light-blue.accent-1
  #input-container.container
    textarea#input-field(name="userinput" placeholder="what's another word for...").white.darken-2.z-depth-1
  p #[span shift] to reload
