extends layout

block content
  #title
    h4 synonymize
  #display-container.container
    #display.card-panel.z-depth-2.light-blue.accent-1.valign-wrapper
  #input-container.container
    textarea#input-field(name="userinput" placeholder="what's another word for...").white.darken-2.z-depth-4
  p #[span shift] to reload
