extends layout

block content
  #title
    h4 synonymize
  #display-container.container
    #display.card-panel.z-depth-1.grey.lighten-3.valign-wrapper
  #input-container.container
    textarea#input-field(name="userinput").green.accent-2.z-depth-1
