
body {
  font: 26px monospace;
}

#title {
  text-align:center;
}

#title h4 {
  font-size:68px;
  color: black;
}

#display {
  height: 350px;
  width: 100%;
  font-size:18px;
  padding: 5% 20% 0 10%;
}

#input-field {
  font-size:16px;
  height: 150px;
  width: 60%;
  border: 0px;
  resize: none;
  padding:10px;
  outline: none;
}

#input-container {
  text-align:center;
}

p {
  font-size:16px;
  text-align: center;
}
p span {
  padding: 0px 3px 0px 3px;
  border:1px solid black;
  border-radius:2px;
}
