@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font: 26px Lato, Helvetica, Arial, sans-serif;
}

#title {
  text-align:center;
}

#title h4 {
  font-size:68px;
  color: #0277bd;
}

#display {
  height: 250px;
  width: 100%;
}

#input-field, #input-field:active {
  font-size:18px;
  height: 200px;
  width: 80%;
  border: 0px;
  resize: none;
  padding:10px;
  outline: none;
}

#input-container {
  text-align:center;
}
